<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h3>Associe sua conta do {{registerData.provider}}</h3>
        <hr />
        <p class="text-success">Você autenticou com sucesso com o <strong>{{registerData.provider}} </strong>. Por favor, insira um nome de usuário abaixo para este site e clique no botão "Registrar" para login</p>
        <div class="row">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" data-ng-model="registerData.userName" required autofocus>
                    <button class="btn btn-sm btn-info btn-block" type="button" style="margin-top:10px;" data-ng-click="registerExternal()">Registrar</button>
                </div>
                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
