<div class="row" ng-show="authService.authentication.isAuth">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="product in products">
                    <td>
                        {{ product.Id }}
                    </td>
                    <td>
                        {{ product.Code }}
                    </td>
                    <td>
                        {{ product.Name }}
                    </td>
                    <td>
                       {{ product.Price }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">
        <img src="../../image.jpg" class="center-block"/>
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
</div>
