<form role="form" name="formResetPassword">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Esqueceu sua senha? Reset de Senha</h2>
            <input type="text" class="form-control" placeholder="Usuário" data-ng-model="resetpwdData.username" required autofocus style="margin-bottom: 5px">
            <input type="text" class="form-control" placeholder="Email" data-ng-model="resetpwdData.email" required autofocus>
            <input type="text" class="form-control" placeholder="Cód. Empresa" data-ng-model="resetpwdData.clientId" required autofocus>
            <input type="text" name="cnpj" class="form-control" data-ng-model="resetpwdData.CNPJ" required autofocus ng-cnpj ui-mask="99.999.999/9999-99" placeholder="CNPJ" ui-mask-placeholder="__.___.___/____-__">            
            <input type="password" class="form-control" placeholder="Nova Senha" data-ng-model="resetpwdData.newPassword" required>
            <input type="password" class="form-control" placeholder="Confirme a Nova Senha" data-ng-model="resetpwdData.confirmNewPassword" required>
           
            <button class="btn btn-md btn-info btn-block" style="margin-top: 0.5rem" type="submit" data-ng-click="resetPassword(formResetPassword)">Resetar Senha</button>
            <div data-ng-hide="message == ''" data-ng-class="(resetSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"  style="margin-top: 0.5rem">
                {{message}}
                <div ng-repeat="error in errors">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
</form>