<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <ul class="signup-type" style="display: flex; align-content: space-between; margin-top: 0">
            <li style="flex: 0.5">
                <input type="radio" id="a25" name="amount" value="1" data-ng-model="signUpType" />
                <label for="a25" class="text-center h5" style="padding-top: 1.5rem">Pessoa Física</label>
            </li>            
            <li style="flex: 0.5">
                <input type="radio" id="a50" name="amount" value="2" data-ng-model="signUpType" />
                <label for="a50" class="text-center h5" style="padding-top: 1.5rem">Pessoa Juridica</label>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>

<form role="form" name="formSignUp" ng-show="(signUpType == 1) || (signUpType == 2)">
    <div class="row">        
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Registre-se</h2>
        </div>
    </div>
    <div class="row" ng-show="(signUpType == 2)">
        <div class="col-md-2" style="height: 0">
            &nbsp;
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Cód. Empresa" data-ng-model="registration.client_id" ng-required="(signUpType == 2)" autofocus>
        </div>
        <div class="col-md-4">
            <input type="text" name="cnpj" class="form-control" data-ng-model="registration.cnpj" ng-required="(signUpType == 2)" autofocus ng-cnpj ui-mask="99.999.999/9999-99" placeholder="CNPJ" ui-mask-placeholder="__.___.___/____-__">            
        </div>
        <div class="col-md-2"  style="height: 0">
            &nbsp;
        </div>
    </div>
    <div class="row" ng-show="(signUpType == 2)">
        <div class="col-md-2" style="height: 0">
            &nbsp;
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Nome da Empresa" data-ng-model="registration.companyName" ng-required="(signUpType == 2)" autofocus>
        </div>        
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <div class="row" >
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Nome de usuário" data-ng-model="registration.userName" required autofocus>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Email" data-ng-model="registration.email" required autofocus>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>    
    <div class="row" >
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" placeholder="Senha" data-ng-model="registration.password" required>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" placeholder="Confirme a senha" data-ng-model="registration.confirmPassword" required>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>    
    <div class="row" style="margin-top: 1rem">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">            
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-4 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="subscriptionType" id="inlineRadio1" value="0" data-ng-model="registration.subscriptionType" ng-checked="true"> Free
                            </label>
                        </div>
                        <div class="col-md-4 col-xs-4 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="subscriptionType" id="inlineRadio2" value="1" data-ng-model="registration.subscriptionType"> Basic
                            </label>
                        </div>
                        <div class="col-md-4 col-xs-4 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="subscriptionType" id="inlineRadio3" value="2" data-ng-model="registration.subscriptionType"> Premium
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>  
    <div class="row" style="margin-top: 1rem">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="signUp(formSignUp)">Cadastrar!</button>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>      
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'" style="margin-top: 5px">
                {{message}}
                <div ng-repeat="error in errors">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
</form>